# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/manifest

# Test binary, built with `go test -c`
*.test

# Code coverage profiles
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace file
go.work
go.work.sum

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
